<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106940522081-h128ujecbb9p36mhg4si70mcnquhelh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106940522081-h128ujecbb9p36mhg4si70mcnquhelh3</string>
	<key>API_KEY</key>
	<string>AIzaSyCyZEPjSOpTO8wX2U4GAUncAcQClfuzH2g</string>
	<key>GCM_SENDER_ID</key>
	<string>106940522081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gusrylmubarok.fqrcode.fqrCode</string>
	<key>PROJECT_ID</key>
	<string>fqr-code</string>
	<key>STORAGE_BUCKET</key>
	<string>fqr-code.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106940522081:ios:2a59a8512dd8118faa1420</string>
</dict>
</plist>